
/**
 * v20260324
 * styles_navigator.css  
 * → applies global font-family and line-height, and sets the reading-panel font size.
 * → Navigator theme autolist typography 
 * → Logo color color and font
 * However, please refer to vars_fonts_navigator.css & Admin Templates Manager 
 * if the placeholder is var(**), adjust in the vars_fonts_navigator.css.
 * If the placegholer is in the style of __**__, adjust the in Admin Template Manager.
*/

/* =============================================================
   1. TYPOGRAPHY & GLOBAL LAYOUT
   ============================================================= */


/* Global font identity. var declarations reside in the vars_fonts_navigator.css  */
body {
    font-family: var(--font-reading);
    line-height: var(--line-reading);        
    background-color: __outer_background__; /* change this color in the Admin Settings panel */
}

/* Reading panel scale */
body #dokuwiki__content .page {
    font-size: var(--font-size-reading);
}

/* Optional: calm paragraph rhythm */
body #dokuwiki__content .page p {
    margin: 0 0 1.1em;
}



.page pre.code {
    max-width: 80%;
    /* Prevents box from looking like a horizontal line. Preserves vertical rhythm */
    /* margin: 1.4em auto;  */
}


  /* centers the panel */
div.dokuwiki .page {       
    margin: 0 auto;     
}


/*Removing ID from reading panel's top right*/

.dokuwiki .pageId {
    display: none;
}

.hasSidebar #dokuwiki__content {    
    background-color:__background_site__;    
}

/* Improves horizontal span of tables in the Admin Configuration Settings  */
#config__manager fieldset {
    margin-top: 1em;
    margin-bottom: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /* background-color: #eee; */    
    font-size: 0.94rem;
    line-height: 1.4;
}



/*============================================================================
    Navigator's internal page lists
============================================================================= */


/* UL styling — page lists */
#dokuwiki__content .page.group > ul {    
    font-family: __lists_font__; /* Verdana, Geneva, Tahoma, sans-serif */
    background-color: __lists_background__ ; /* #fafafa*/
    padding: 2px 10px;    
    border-radius: 0 4px 4px 0;
    line-height: 2;
    list-style-type: disc;
    font-size: 1.1rem;
    font-weight: __lists_weight__; /* 400 */
}

/* Link styling inside those lists */
#dokuwiki__content .page.group > ul a {
    color: __lists_color__; /* #1b4974 */
}

/* Color of bullet hint for internal links */
#dokuwiki__content .page.group > ul li::marker {
    color: __bullet_lists_color__; /* #008800 */
}

/* =========================================================================
    LOGO
=========================================================================== */

#dokuwiki__header .logo a {
     font-family: __logo_font__; /*Verdana*/
    color: __logo_color__; /*#ff0000*/
}

/*see description on top for explanation of placeholders as values */

/* =========================================================================
    FOOTER
=========================================================================== */

/* Theme info style */
#dokuwiki__footer .themeinfo {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 0.75rem;
    opacity: 0.7;
    margin-top: 0.6rem;
}